.display-1 {
    text-align: center;
    width: 100%;
    padding: 5px;
    font-size: 4rem;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}

h1>a,  h1>a:hover {
    color: unset;
    text-decoration: unset;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

dt {
    float: left;
    width: 20%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

dd {
    float: left;
    width: 80%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

input[type="radio"]{
    margin: 0 10px 0 10px;
}

.sample_table td:nth-child(2) {
    background-color: #DDD;

}

.sample_table th:nth-child(2) {
    background-color: #DDD;
    text-underline-position: under;
    font-size: medium;
}

/* Removes the timeline */
audio::-webkit-media-controls-timeline {
	  display: none !important;
}

